{% extends 'base.html' %}

{% block content %}
  {% load static %}
  <div class="container py-5">
    <h1 class="text-uppercase fw-bold text-center pb-5">Portfolio</h1>

    <div class="project-gallery">
      {% for item in projects %}
        <div class="project-item" data-bs-toggle="modal" data-bs-target="#{{ item.id }}">
          <img src="{% static item.img %}" alt="{{ item.title }}" class="img-fluid" />
        </div>
      {% endfor %}
    </div>
  </div>

  {% for item in projects %}
    <div class="modal fade" id="{{ item.id }}" tabindex="-1" aria-labelledby="{{ item.id }}Label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="{{ item.id }}Label">{{ item.title }}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <img src="{% static item.img %}" alt="{{ item.title }}" class="img-fluid" />
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Close Window</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
